<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create view</title>
  </head>
  <body>
    <a href="/">Home page</a>
    <a href="/items">List all books</a>
    <form action="/items" method="POST" id="item-form">
      <p>Title <input type="text" name="title" /></p>
      <p>Content <input type="text" name="content" /></p>
      <p><input type="submit" value="submit" /></p>
    </form>
    <p>{{ message }}</p>
  </body>
</html>
